/* DINPro Font Family */

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('./DINPro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
